@model WEB_SHOW_WRIST_STRAP.Models.Entities.ListLed

@{
    ViewData["Title"] = "Delete Sensor Point";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="row">
        <div class="col-md-6">
        <header class="header">
            <h1>Delete Sensor Point</h1>
        </header>
            <h4 class="prominent-question">Are you sure you want to delete this?</h4>
        <hr />

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Header</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Id Area</td>
                        <td>
                            @Html.DisplayFor(model => model.IdRoom)
                        </td>
                    </tr>
                    <tr>
                        <td>Name Ponit</td>
                        <td>
                            @Html.DisplayFor(model => model.NameLed)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.MinTemp)</td>
                        <td>
                            @Html.DisplayFor(model => model.MinTemp)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.MaxTemp)</td>
                        <td>
                            @Html.DisplayFor(model => model.MaxTemp)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.MinHumi)</td>
                        <td>
                            @Html.DisplayFor(model => model.MinHumi)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.MaxHumi)</td>
                        <td>
                            @Html.DisplayFor(model => model.MaxHumi)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Adds)</td>
                        <td>
                            @Html.DisplayFor(model => model.Adds)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Addsread)</td>
                        <td>
                            @Html.DisplayFor(model => model.Addsread)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Plc)</td>
                        <td>
                            @Html.DisplayFor(model => model.Plc)
                        </td>
                    </tr>
                    @* <tr>
                        <td>@Html.DisplayNameFor(model => model.OffsetTemp)</td>
                        <td>
                            @Html.DisplayFor(model => model.OffsetTemp)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.OffsetHumi)</td>
                        <td>
                            @Html.DisplayFor(model => model.OffsetHumi)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.DeltaT)</td>
                        <td>
                            @Html.DisplayFor(model => model.DeltaT)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.DeltaH)</td>
                        <td>
                            @Html.DisplayFor(model => model.DeltaH)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Timeoff)</td>
                        <td>
                            @Html.DisplayFor(model => model.Timeoff)
                        </td>
                    </tr> *@
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Enstatus)</td>
                        <td>
                            @if (Model.Enstatus == 0)
                            {
                                <a>Not Set</a>
                            }
                            else if (Model.Enstatus == 3)
                            {
                                <a>On Light, On Buzzer</a>
                            }
                            else if (Model.Enstatus == 1)
                            {
                                <a>On Light, Off Buzzer</a>
                            }
                            else if (Model.Enstatus == 2)
                            {
                                <a>Off Light, Off Buzzer</a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Note)</td>
                        <td>
                            @Html.DisplayFor(model => model.Note)
                        </td>
                        <td>@Html.DisplayNameFor(model => model.Csstop)</td>
                        <td>
                            @Html.DisplayFor(model => model.Csstop)
                        </td>
                        <td>@Html.DisplayNameFor(model => model.Cssleft)</td>
                        <td>
                            @Html.DisplayFor(model => model.Cssleft)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdLed" />
        <input type="submit" value="Delete" style="margin-right:5px" class="btn btn-danger btn-create animation" />     
        <a asp-action="Index" class="btn animation btn-back">Back to List</a>
    </form>
</div>
